<button (click)="myEvent($event)">Click</button>
<button (mouseenter)="myEvent($event)">Mouse Enter</button>
<button (mousedown)="myEvent($event)">Mouse Down</button>
<button (mouseup)="myEvent($event)">Mouse Up</button>
<button (dblclick)="myEvent($event)">Double Click</button>
<button (blur)="myEvent($event)">blur</button>

<br><br><br><br>
<!-- <button (focus)="myEvent($event)">Focus</button> -->
<input type="text" (focus)="myEvent($event)" placeholder="focus">

<input type="text" (keydown)="myEvent($event)" placeholder="keydown">
<input type="text" (keypress)="myEvent($event)" placeholder="keypress">
<input type="text" (keyup)="myEvent($event)" placeholder="keyup">
<br><br><br><br>

<label>Choose an ice cream flavor:
  <select id="ice-cream" name="ice-cream"  (change)="myEvent($event)">
      <option value="">Select One …</option>
      <option value="chocolate">Chocolate</option>
      <option value="strawberry">Strawberry</option>
      <option value="vanilla">Vanilla</option>
  </select>
</label>

<br><br><br><br>
<input type="text" value="Do Copy Action To See" (copy)="myEvent($event)" />
<input type="text" value="Do Cut Action To See" (cut)="myEvent($event)" />
<input type="text" value="Do Paste Action To See" (paste)="myEvent($event)" />

