
<ion-header>
 <ion-navbar>
    <ion-grid>
        <ion-row  > 
            <ion-col col-4 >
                <button ion-button icon-only>
    <ion-icon name="list"></ion-icon>
  </button>
</ion-col>
  <ion-col col-4>
   <ion-title style="text-align:center;" >login</ion-title>
  </ion-col>
  <ion-col col-4 >
   <button ion-button icon-only style="float:right;">SignUp</button>
  </ion-col>
  </ion-row>
</ion-grid>
 </ion-navbar>
</ion-header>
 
<ion-content>
  
    <ion-grid>
        <ion-row justify-content-center > 
            <ion-col col-3 offset-2 >
        <ion-img width="80" height="80" src="..."></ion-img>
      </ion-col>
    </ion-row>
      
          <ion-row justify-content-center > 
            <ion-col col-sm-3 >
            <ion-item>
                <ion-label floating>Username</ion-label>
                <ion-input type="text"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

          <ion-row justify-content-center > 
              <ion-col col-sm-3 >
              <ion-item>
                  <ion-label floating>Password</ion-label>
                  <ion-input type="password" ></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row justify-content-center > 
                <ion-col col-sm-1  >
            <button ion-button>Submit</button>
            </ion-col>
            <ion-col col-sm-1 offset-1>
                <button ion-button>Cancel</button>
                </ion-col>
                </ion-row>

                <ion-row justify-content-center > 
                    <ion-col col-1>
                        <ion-img width="80" height="80" src="..."></ion-img>              
                              </ion-col>

                      <ion-col col-1 >
                          <ion-img width="80" height="80" src="..."></ion-img>
                                                </ion-col>

                        <ion-col col-1 >
                            <ion-img width="80" height="80" class="item-profile" src="..."></ion-img>
                                                    </ion-col>


                    </ion-row>

          </ion-grid>
        </ion-content>
       

















           
   <!-- <ion-item>
     <ion-label floating>Username</ion-label>
     <ion-input type="text"></ion-input>
   </ion-item>
  </ion-col>
</ion-row>
<ion-row align-items-center>
    <ion-col  col-3>
 <ion-item>
   <ion-label floating>Password</ion-label>
     <ion-input type="password"></ion-input>
   </ion-item>
  </ion-col>
</ion-row>

<ion-row align-items-center>
    <ion-col  col-3>
 <div padding>
   <button ion-button block (click)="signin()">Sign In</button>
 </div>
</ion-col>
</ion-row>
</ion-grid>
</ion-content> -->